body {
	max-width: 1024px;
	margin-left:220px;
	margin-right: 220px;
}

.title{
    font-size: 30px;
    text-align: center;
    font-family: Georgia, serif;
}

.text{
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, serif;
}

h3{
    font-family: monospace;
    font-size: 18px; 
    font-weight: bold;
}

h4{
    font-family: monospace;
    font-size: 16px; 
}

.imgsquares img {
	width: 30%;
	height: 450px;
	display: block;
	float: left;
	padding: 9px;
}

.imgsketch img {
    width: 30%;
	height: 300px;
	display: block;
	float: left;
	padding: 9px;

}

.finalassignment img {
    width: 50%;
	height: 650px;
	display: block;
	padding-left: 220px;

}